@media screen and (min-width: 900px) {
	
#logo{
	width:9.8vh;
	height:9.8vh;
	background-image:url(aboutus_pic/logo.png);
	left:5%;
	top:82%;
}
#member{
	width:44.8vh;
	height:6.8vh;
	background-image:url(aboutus_pic/member.png);
	left:1%;
	top:15%;
}
.back{
	width:190vh;
	height:100vh;
	left:9%;
	top:0%;
	z-index :-1;
}
#member_back{
	background-image:url(aboutus_pic/back.png);
}
#intro_back{
	background-image:url(aboutus_pic/intro_back.png);
	display:none;
}
.X{
	width:40px;
	height:43px;
	right: 2%; top : 2.5%;
	background-image:url(aboutus_pic/X.png);
	z-index:4;
	display:none;
}
#intro_content{
	width:78.4vh;
	height:32.5vh;
	left: -3%; top :25%;
	background-image:url(aboutus_pic/intro_content.png);
	display:none;
}
#intro_button{
	left: 13.8%; top : 84.5%;
	background-image:url(aboutus_pic/intro_button.png);
}
#member_button{
	left: 27%; top : 84.5%;
	background-image:url(aboutus_pic/member_button.png);
}
.intro{
	width:85vh;
	height:48vh;
	position:absolute;
	background-size:cover;
	left:-5%;
	top:24%;
	z-index:2;
	display:none;
}
.size-posi{
	background-size:cover;
	position:absolute;
}

.icon{
	width:19.5vh;
	height:19.5vh;
	position:absolute;
	background-size:cover;
	z-index:1;
}
.button{
	width:17.8vh;
	height:7vh;
}
.gang{
	left:31%;
	top:54%;
}
.en{
	left:17%;
	top:54%;
}
.shan{
	left:-5%;
	top:28%;
}
.hui{
	left:9%;
	top:28%;
}
.fish{
	left:3%;
	top:54%;
}
.in{
	left:23%;
	top:28%;
}
.show{
	z-index: 2;
	opacity: 0;
}

.show:hover{
	opacity: 1;
}
/*
gang:王昱淦
en:謝旻恩
shan:郭憶璇
hui:黃家輝
fish:戴宇
in:蘇千茵
*/
#gang1{
	background-image:url(aboutus_pic/gang1.png);
}
#gang2{
	background-image:url(aboutus_pic/gang2.png);
}
#gang3{
	background-image:url(aboutus_pic/gang3.png);
}
#en1{
	background-image:url(aboutus_pic/en1.png);
}
#en2{
	background-image:url(aboutus_pic/en2.png);
}
#en3{
	background-image:url(aboutus_pic/en3.png);
}
#shan1{
	background-image:url(aboutus_pic/shan1.png);
}
#shan2{
	background-image:url(aboutus_pic/shan2.png);
}
#shan3{
	background-image:url(aboutus_pic/shan3.png);
}
#hui1{
	background-image:url(aboutus_pic/hui1.png);
}
#hui2{
	background-image:url(aboutus_pic/hui2.png);
}
#hui3{
	background-image:url(aboutus_pic/hui3.png);
}
#fish1{
	background-image:url(aboutus_pic/fish1.png);
}
#fish2{
	background-image:url(aboutus_pic/fish2.png);
}
#fish3{
	background-image:url(aboutus_pic/fish3.png);
}
#in1{
	background-image:url(aboutus_pic/in1.png);
}
#in2{
	background-image:url(aboutus_pic/in2.png);
}
#in3{
	background-image:url(aboutus_pic/in3.png);
}

}
/*
*
*
*
*
*
*

*
*
*
*
*
*
*/
@media screen and (Max-width: 480px) {
	
#logo{
	width:12vw;
	height:12vw;
	background-image:url(aboutus_pic/logo.png);
	margin:auto;
	margin-top:10px;
	margin-bottom:10px;
}
#member_phone{
	width:34vw;
	height:5vw;
	background-image:url(aboutus_pic/member.png);
	margin:auto;
}
#phone_back{
	width:92vw;
	height:128vw;
	background-image:url(aboutus_pic/phone_back.png);
	margin:auto;
}
.row{
	width:86vw;
	height:14vw;
	margin:auto;
	padding-top:2vw;
	padding-bottom:7vw;
}
.size-posi{
	background-size:cover;
}
.intro_phone{
	width:90vw;
	height:51vw;
	position:absolute;
	top:15vw;
	left:5%;
	display:none;
}
.icon_phone{
	width:18.5vw;
	height:18.5vw;
	background-size:cover;
	position:relative;
}
.row1{
	float:right;
	margin-right:6vw;
}
.row2{
	float:left;
	margin-right:4vw;
}
.X_phone{
	width:40px;
	height:43px;
	right: 2%; top : 2.5%;
	background-image:url(aboutus_pic/X.png);
	z-index:4;
	position:absolute;
	display:none;
}
/*
gang:王昱淦
en:謝旻恩
shan:郭憶璇
hui:黃家輝
fish:戴宇
in:蘇千茵
*/
#gang_icon{
	background-image:url(aboutus_pic/gang1.png);
}

#gang_intro{
	background-image:url(aboutus_pic/gang3.png);
}
#en_icon{
	background-image:url(aboutus_pic/en1.png);
}

#en_intro{
	background-image:url(aboutus_pic/en3.png);
}
#shan_icon{
	background-image:url(aboutus_pic/shan1.png);
}

#shan_intro{
	background-image:url(aboutus_pic/shan3.png);
}
#hui_icon{
	background-image:url(aboutus_pic/hui1.png);
}

#hui_intro{
	background-image:url(aboutus_pic/hui3.png);
}
#fish_icon{
	background-image:url(aboutus_pic/fish1.png);
}

#fish_intro{
	background-image:url(aboutus_pic/fish3.png);
}
#in_icon{
	background-image:url(aboutus_pic/in1.png);
}

#in_intro{
	background-image:url(aboutus_pic/in3.png);
}

}